<div class="ourteam">
    <div class="container">
        <h6>Case</h6>
        <p id="case_id" style="display: none">{{id}}</p>
        <div class="col-xs-4">
            <div>
                <img src="{{image}}" class="img-responsive" alt="">
            </div>
            <div class="margin-horizontal-16">
                <h4 style="margin-bottom: 10px">病例名称： {{name}}</h4>

                <h5>所患疾病： {{disease_name}}</h5>
            </div>
        </div>
        <div class="col-xs-8">
            <!-- Tip -->
            <div class="new-user-avatar-cta mb-4 py-2 px-3">
                <p class="mt-3">
                    {{#if received}}
                        <strong>已接诊</strong>
                      {{else}}
                        <strong>未接诊</strong>
                    {{/if}}
                </p>
            </div>

            <!-- Tabs -->
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab" aria-expanded="true">诊断结果</a></li>
                <li><a href="#tab2" data-toggle="tab">治疗手段</a></li>
                <li><a href="#video" data-toggle="tab">视频</a></li>
            </ul>
            <div class="tab-content" id="tabs">
                <div class="tab-pane about active" id="tab1">
                    <div class="input-group">
                        <input id="treat_record" type="text" class="form-control" placeholder="新增记录" required>
                        <span id="treat_btn" class="input-group-btn"><button class="btn btn-default" type="button">提交</button></span>
                    </div><!-- /input-group -->

                    <ul class="list-group" id="treat_list" style="margin-top: 30px">
                        {{#each treatment}}
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-6">{{this.content}} </div>
                                    <div class="col-md-2 col-md-offset-4"> {{this.date}}</div>
                                </div>
                            </li>
                        {{/each}}
                    </ul>
                </div>
                <div class="tab-pane about" id="tab2">
                    <div class="input-group">
                        <input id="result" type="text" class="form-control" placeholder="修改结果" required>
                        <span id="result_btn" class="input-group-btn"><button class="btn btn-default" type="button">提交</button></span>
                    </div><!-- /input-group -->
                    <ul class="list-group" id="result_list" style="margin-top: 30px">
                      {{#each result}}
                          <li class="list-group-item">
                              <div class="row">
                                  <div class="col-md-6">{{this.content}} </div>
                                  <div class="col-md-2 col-md-offset-4"> {{this.date}}</div>
                              </div>
                          </li>
                      {{/each}}
                    </ul>
                </div>
                <div class="tab-pane about" id="video">
                    <div>
                        <video src="/video/{{id}}.mp4" style="width: 600px;" autoplay></video>
                        <div id="spinner"></div>
                    </div>
                    <div>
                        <button id="ul_btn">Select File</button>

                        <input type="file" id="plain_input_element"/>

                        <script data-main="/js/config.js" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.14/require.min.js"></script>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<script>


    $("#treat_btn").click(() => {
        let treat_list = [];
        let id = $("#case_id").text();
        let record = $("#treat_record").val();
        let data = {
            "id": id,
            "content": record
        };
        API.add_treatment(data, (err, result) => {
            if (!err) {
                $.toaster({priority: 'success', title: 'Success', message: '添加成功'});
                $("ul#treat_list li").remove("li");//clear element
                result.forEach((element) => {
                    $("ul#treat_list").append("<li class=\"list-group-item\">"
                            + "<div class=\"row\">"
                            + "<div class=\"col-md-6\">" + element.content + "</div>"
                            + "<div class=\"col-md-2 col-md-offset-4\">" + element.date + "</div>"
                            + "</div>"
                            + "</li>");
                });
            } else {
                $.toaster({priority: 'danger', title: 'Network Error', message: '添加失败'});

            }
        });
    });

    $("#result_btn").click(() => {
        let treat_list = [];
        let id = $("#case_id").text();
        let record = $("#result").val();
        let data = {
            "id": id,
            "content": record
        };
        API.add_result(data, (err, result) => {
            if (!err) {
              console.log(result)
                $.toaster({priority: 'success', title: 'Success', message: '添加成功'});
                $("#result_list li").remove("li");//clear element
                result.forEach((element) => {
                    $("#result_list").append("<li class=\"list-group-item\">"
                            + "<div class=\"row\">"
                            + "<div class=\"col-md-6\">" + element.content + "</div>"
                            + "<div class=\"col-md-2 col-md-offset-4\">" + element.date + "</div>"
                            + "</div>"
                            + "</li>");
                });
            } else {
                $.toaster({priority: 'danger', title: 'Network Error', message: '添加失败'});
            }
        });
    });




</script>
