<div class="about" id="about">
    <div class="container">
        <h6>Reception</h6>
        <div class="col-md-7 about-left">
            <h3>Recommended</h3>
          {{#each data.vital}}
            <div class="abt-top">
                <div class="abt-lft">
                    <img src="./../img/p3.jpg" class="img-responsive" alt="">
                </div>
                <div class="abt-rgt">
                    <h4><a href="/disease?id={{id}}">{{disease}}</a></h4>
                    <p>{{introduction}}</p>
                </div>
                <div class="clearfix"></div>
            </div>
            {{/each}}
        </div>
        <div class="col-md-5 about-right">
            <h5>Learning List</h5>
            <ul>
                {{#each data.list}}
                    <li><a href="/disease?id={{id}}"><span></span>{{disease}}</a></li>
                {{/each}}
            </ul>

        </div>

        <div class="clearfix"></div>
    </div>
</div>
